
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('../img/back.png') no-repeat center top fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

header{
    background-color: rgba(51,51,51,0.8);
    color:#fff;
    padding: 10px 0;
    height: 20px;
    }
    
    
    ul{
    list-style: none;
    margin: 0;
    padding:0;
    }
    
    ul li{
    display: inline;
    margin : 0 15px;
    }
    
    ul li a {
    color: #fff;
    text-decoration: none;
    }

    main {
    position: relative;
    padding: 5px;
    background-color: #837b8886;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
   
    }
    footer {
    background-color: rgba(12, 10, 10, 0.8);
    color: #6e0808;
    padding: 5px 0;
    height: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    }
    section#home img {
        max-width: 100px;
        border-radius: 50%;
        
        height: auto;
        padding: 5px;

    }